.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 500px;
    height: 300px;
    border-radius: 10%;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .header {
    width: 100%;
    height: 80px;
    border-radius: 10% 10% 0 0;
    background-color: #697386;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 36px;
  }
  
  .subheader {
    color: black;
    font-size: 24px;
    margin-top: 20px;
  }
  
  .button {
    margin-top: 20px;
    color: white;
    background-color: #c42f30;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    border: none;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  .button:hover {
    background-color: #9e251f;
  }
  
  .button:active {
    transform: scale(0.65);
  }
  

  .pageContainer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    height: 100vh;
  }

  .headerContent {
    font-size: 28px;
  }

  .formContainer {
  margin-top: 20px;
}

.formGroup {
  margin-bottom: 10px;
}

.label {
  display: block;
  margin-bottom: 5px;
  color: black;
}

.input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: black;
}
  
.returnButton {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.returnButtonContent {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: #c42f30;
  cursor: pointer;
}

.returnButtonContent:hover {
  text-decoration: underline;
}

.returnButtonIcon {
  margin-right: 5px;
}

.returnButtonText {
  font-size: 16px;
}

.forgotPassword {
  margin-top: 10px;
  text-align: center;
}

.forgotPasswordLink {
  color: #000000;
  cursor: pointer;
  text-decoration: underline;
}

.forgotPasswordLink:hover {
  color: #c42f30;
  text-decoration: underline;
}

.forgotPasswordLink:active {
  color: #c42f30;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.buttonF,
.buttonA,
.buttonG {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #060606;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.buttonF:hover,
.buttonA:hover,
.buttonG:hover {
  background-color: #c42f30;
  border-color: #ffffff;
}

.buttonTextF,
.buttonTextA,
.buttonTextG {
  font-size: 20px;
}

.loadingAnimation {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  font-size: 40px;
  color: black;
  z-index: 1000;
}

.char {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-name: colorAndJump;
}

/* Animation pour le changement de couleur et le saut */
@keyframes colorAndJump {
  0%, 100% {
    color: black;
    transform: translateY(0);
  }
  25% {
    color: red; /* Couleur lors du saut */
    transform: translateY(-10px); /* Hauteur du saut */
  }
  50% {
    color: red;
    transform: translateY(0);
  }
  75% {
    color: red;
    transform: translateY(-10px);
  }
}

/* Délais d'animation pour chaque caractère */
.char0 { animation-delay: 0s; }
.char1 { animation-delay: 0.2s; }
.char2 { animation-delay: 0.4s; }
.char3 { animation-delay: 0.6s; }
.char4 { animation-delay: 0.8s; }
.char5 { animation-delay: 1s; }
.char6 { animation-delay: 1.2s; }
.char7 { animation-delay: 1.4s; }
.char8 { animation-delay: 1.6s; }
.char9 { animation-delay: 1.8s; }
.char10 { animation-delay: 2s; }
.char11 { animation-delay: 2.2s; }

.errorModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001; /* Plus élevé que le reste des éléments */
}

.errorContent {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px; /* Ou une largeur de votre choix */
}

.successModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001; /* Plus élevé que le reste des éléments */
}

.successContent {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px; /* Ou une largeur de votre choix */
}
