.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Utilisez 100vh pour occuper toute la hauteur de la fenêtre */
  padding: 20px;
}

/* Style du conteneur du tableau */
.tableContainer {
  width: 80%; /* Ajustez selon la largeur désirée pour le tableau */
  overflow-x: auto; /* Assure une bonne visibilité sur des écrans plus petits */
}

/* Style général du tableau */
.styledTable {
  width: 100%; /* Le tableau prend toute la largeur du conteneur */
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Ombre légère pour un effet en relief */
}

/* Style des en-têtes du tableau */
.styledTable th {
  background-color: #c42f30; /* Couleur de fond pour les en-têtes */
  color: white;
  font-weight: bold;
  padding: 12px 15px;
  text-align: left;
  border-bottom: 2px solid #dee2e6;
}

/* Style des cellules du tableau */
.styledTable td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
}

/* Alternance de couleur pour les lignes du tableau */
.styledTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Style pour les cellules avec statut */
.styledTable td.status-en-cours {
  color: green;
  font-weight: bold;
}

.styledTable td.status-en-attente {
  color: orange;
  font-weight: bold;
}

.styledTable td.status-termine {
  color: red;
  font-weight: bold;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 80%; /* ou une largeur fixe, selon vos besoins */
  max-width: 500px; /* Pour éviter que le modal ne devienne trop large */
  max-height: 80vh; /* Pour éviter que le modal ne soit trop haut */
  overflow-y: auto; /* Pour ajouter un défilement si le contenu dépasse */
}

.logoutButton {
  border: none;
  border-radius: 20px;
  cursor: pointer;
  position: fixed; /* Fixe le bouton en haut de la page */
  top: 11px; /* Ajustez selon votre navbar */
  right: 170px; /* Distance du côté droit de l'écran */
  color: white;
  background-color: #c42f30;
  width: 150px;
  height: 40px;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}